
<div class="recipe">
<h1><%=@recipe.title%></h1>
<p id="by">By: <%=link_to @userr.name , recipe_profile_path(@userr) %></p>
<hr>
<h3> Ingredients:</h3>
<div class="imgtotext">
<pre>
<%=@recipe.ingredients%></pre>
<br>
<%if @recipe.image.present?%>
<img src=<%=@recipe.image%> class ="imgg">
<%else%>
<%= image_tag "cooking-svgrepo-com.svg", :class =>"imgg"%>
<%end%>
</div>
<hr>
<h3> Directions :</h3>
<pre><%=@recipe.directions%></pre>
<hr>
<h3>Notes : </h3>
<pre><%=@recipe.notes%></pre>
</div>
<hr>
<div class="cforms">
<% if(@user == @userr)%>
<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } , :class =>"btn btn-dark" %>
<%= link_to "Edit" , edit_recipe_path , :class =>"btn btn-dark"%>
<%# <%= link_to 'Your recipes', recipes_path , :class =>"btn btn-dark" %> 
<br>
<%else%> <%= link_to 'Back to recipes', root_path , :class =>"btn btn-dark" %><br>
<%end%>
<br>
<% if @recipe.questions.exists? %>
    <div class="bg">
    <h4> Questions :</h4>
        <% @recipe.questions.each do |question| %>
        <hr>
        <p class="sb"><span style="padding-right:10px;"><strong style="font-size:18px;"><%= question.user.name%>:  </strong><%= question.question%></span>
            <%if user_signed_in?%>
                <% if (current_user.id == question.user_id)%>
                    <%= link_to [question.recipe, question] , method: :delete , data: { confirm: 'Are you sure?' } do %>
                        <%= image_tag "eraser-solid.svg", alt:"erase",size:"13x13"%></p>
                        <%end%>
                <%end%>
                <%if(current_user.id == @recipe.user_id)%>
                <% if question.answers.exists? %>
                    <% question.answers.each do |answer| %>
                         <p class="sb"><span style="padding-left:10px;padding-left:60px;"><strong style="font-size:18px;"><%= answer.user.name%>:</strong>
                         <%=answer.answer%></span>
                         <% if (current_user.id == answer.user_id)%>
                    <%= link_to [answer.question, answer] , method: :delete , data: { confirm: 'Are you sure?' } do %>
                        <%= image_tag "eraser-solid.svg", alt:"erase",size:"13x13"%></p>
                        <%end%><%end%></p>
                        <%end%>
                        <%else%>
                        <%= form_with(model:[question, question.answers.build ], local: true)do |f| %>
                        <h5> Answer :<h5>
                        <%=f.text_area :answer, size: "70x3" %><br>
                        <%= f.submit "Answer" , :class =>"btn btn-dark"%>
                        <%end%>
                        <%end%>
                <%end%>
            <%end%>
        <%end%>
</div>
<%end%>
<br>
<%= form_with(model:[@recipe, @recipe.questions.build], local: true) do |f| %>
<%# <td> <%= f.hidden_field :recipe_id, question.recipe.id %>
<h5> Have A Question ?<h5>
<%=f.text_area :question, size: "70x4" %><br>
 <%= f.submit "Submit" , :class =>"btn btn-dark"%>
 <%end%>
 </div>
 <br>
 