<div class="maincon">
<div class="d-flex flex-wrap">
<% @recipe.each do |recipe| %>
<div class="card">
  <img class="card-img-top" src=<%=recipe.image%>>
  <div class="card-body">
    <h6 class="card-title"><%= recipe.title %></h6>
    <%= link_to 'View', recipe_path(recipe), :class=>"btn btn-light"%>
  </div>
</div>
 <% end %>
 <div class="card">
   <%= image_tag "cooking-svgrepo-com.svg",:class=>"filter-img"%>
  <div class="card-body">
    <h6 class="card-title">Do have a recipe idea ? add your recipe here </h6>
    <%= link_to 'new recipe' , new_recipe_path , :class=>"btn btn-light"%>
  </div>
</div>
 </div>
 </div>
</div>
<br>
