<div class="maincon">
<div class="d-flex flex-wrap">
<% @recipe.each do |recipe| %>
<div class="card">
  <%if recipe.image.present?%>
<img src=<%=recipe.image%> class="card-img-top">
<%else%>
<%= image_tag "kitchen-pack-cooking-svgrepo-com.svg", :class=>"card-img-top"%>
<%end%>
  <div class="card-body">
    <h6 class="card-title"><%= recipe.title %></h6>
    <%= link_to 'View', recipe_path(recipe), :class=>"btn btn-light"%>
  </div>
</div>
 <% end %>
 <div class="card">
   <%= image_tag "cooking-svgrepo-com.svg",:class=>"filter-img"%>
  <div class="card-body">
    <h6 class="card-title">Do have a recipe idea ? add your recipe here </h6>
    <%= link_to 'New recipe' , new_recipe_path , :class=>"btn btn-light"%>
  </div>
</div>
 </div>
 </div>
</div>
<br>
