
<div class="forms">
<br>
<%# <h3><%=@recipe.title%></h3> 
<h3><%=@question.question%></h3>
<br>
<%= form_with(model:[@question, @question.answers.build ], local: true)do |f| %>
<h5> Answer :<h5>
<%=f.text_area :answer, size: "50x2" %><br>
 <%= f.submit "Submit" , :class =>"btn btn-dark"%>
 <%end%>
 </div>