
<h3><%=@question.question%></h3>
<%= form_with(model:[@question, @recipe.question.answer.build], local: true) do |f| %>
<%# <td> <%= f.hidden_field :recipe_id, question.recipe.id %>
<h5> add a comment :<h5>
<%=f.text_area :answer, size: "50x2" %><br>
 <%= f.submit "Submit" , :class =>"btn btn-dark"%>
 <%end%>