<!DOCTYPE html>
<html>
  <head>
    <title>Project02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet">
    <style>@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');</style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<header>
<h1><%= link_to 'Green Recipes', root_path%> <%= image_tag "utensils-solid.svg", size: "30x30" , :class=>"change-my-color" %></h1>   
<div class = "banner">
<% if(user_signed_in?)%>
<strong> Hi <%=@user.name%><%= image_tag"kitchen-pack-cooking-svgrepo-com (2).svg", size: "15x25", :class=>"change-my-color"%></strong>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Account
  </button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><%= link_to "Sign out" , destroy_user_session_path , method: :delete , :class =>"dropdown-item"%></li>
<li><%= link_to " Your Recipes" , recipes_path ,:class =>"dropdown-item" %></li>
<li><%= link_to " update account" , edit_user_registration_path ,:class =>"dropdown-item" %></li>
</ul>
</div>
<%else%> 
<%=link_to "Sign in" , new_user_session_path, :class => "btn btn-secondary"%>
<%end%>
</div>
   </header>
    <i class="notice"><%= notice %></i>
   <i class="alert"><%= alert %></i>
    <%= yield %>
<footer>
<p>
<br>
</p>
</footer>
  </body>
</html>
